#wow {
    background-color: black;
    color: whitesmoke;
}
.head{
    color: yellow;
    font-weight: bold;
    text-align:center;
    font-size: 500%;
    font-family: "Libre Baskerville", serif;
}
.para{
    color: white;
    font-size: 150%;
    font-weight: 100;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
#io {
    height:10%;
    width:10%;
}
#d1 {
    text-align:center;
}
#pt{
    margin-bottom: 70px;
}
hr{
    height:4px;
}

#d2 > #p2 {
    position: relative;
    right: 10%;
}
#is { 
    height: 300px;
    position : absolute;
    right: 0%;
    top : 600px
}


